<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="34" android:compileSdkVersionCodename="14" android:installLocation="auto" package="com.ova.StellarXV1" platformBuildVersionCode="34" platformBuildVersionName="14">
    <uses-permission android:name="com.oculus.permission.HAND_TRACKING"/>
    <uses-permission android:name="com.oculus.permission.USE_ANCHOR_API"/>
    <uses-permission android:name="com.oculus.permission.IMPORT_EXPORT_IOT_MAP_DATA" android:required="false"/>
    <uses-permission android:name="com.oculus.permission.RENDER_MODEL"/>
    <uses-permission android:name="com.oculus.permission.TRACKED_KEYBOARD"/>
    <uses-permission android:name="com.oculus.permission.BODY_TRACKING"/>
    <uses-permission android:name="com.oculus.permission.FACE_TRACKING"/>
    <uses-permission android:name="com.oculus.permission.EYE_TRACKING"/>
    <uses-permission android:name="com.oculus.permission.USE_SCENE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-feature android:name="android.hardware.vr.headtracking" android:required="true" android:version="1"/>
    <uses-feature android:name="oculus.software.handtracking" android:required="false"/>
    <uses-feature android:name="com.oculus.feature.PASSTHROUGH" android:required="false"/>
    <uses-feature android:name="com.oculus.feature.RENDER_MODEL"/>
    <uses-feature android:name="oculus.software.trackedkeyboard" android:required="false"/>
    <uses-feature android:name="com.oculus.software.body_tracking" android:required="false"/>
    <uses-feature android:name="oculus.software.face_tracking" android:required="false"/>
    <uses-feature android:name="oculus.software.eye_tracking" android:required="true"/>
    <uses-feature android:name="android.hardware.vulkan.version" android:required="true"/>
    <uses-feature android:name="android.hardware.microphone" android:required="true"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <queries>
        <intent>
            <action android:name="com.android.vending.billing.InAppBillingService.BIND"/>
        </intent>
    </queries>
    <application android:allowBackup="false" android:appCategory="game" android:enableOnBackInvokedCallback="true" android:extractNativeLibs="true" android:hardwareAccelerated="true" android:icon="@mipmap/app_icon" android:label="@string/app_name" android:networkSecurityConfig="@xml/network_sec_config">
        <activity android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale" android:exported="true" android:launchMode="singleTask" android:name="com.unity3d.player.UnityPlayerActivity" android:screenOrientation="landscape" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="com.oculus.intent.category.VR"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <meta-data android:name="com.oculus.vr.focusaware" android:value="true"/>
        </activity>
        <meta-data android:name="unityplayer.SkipPermissionsDialog" android:value="false"/>
        <meta-data android:name="com.samsung.android.vr.application.mode" android:value="vr_only"/>
        <meta-data android:name="com.oculus.handtracking.frequency" android:value="LOW"/>
        <meta-data android:name="unity.splash-mode" android:value="0"/>
        <meta-data android:name="unity.splash-enable" android:value="true"/>
        <meta-data android:name="unity.launch-fullscreen" android:value="true"/>
        <meta-data android:name="unity.render-outside-safearea" android:value="false"/>
        <meta-data android:name="unity.auto-report-fully-drawn" android:value="true"/>
        <meta-data android:name="unity.strip-engine-code" android:value="true"/>
        <meta-data android:name="unity.auto-set-game-state" android:value="true"/>
        <meta-data android:name="com.oculus.ossplash.background" android:value="passthrough-contextual"/>
        <meta-data android:name="com.oculus.telemetry.project_guid" android:value="ec6dba3c-4605-4075-ad06-85193c1fe232"/>
        <meta-data android:name="com.oculus.supportedDevices" android:value="quest2|questpro|quest3|quest3s"/>
        <meta-data android:name="com.oculus.always_draw_view_root" android:value="true"/>
        <activity android:name="com.vuplex.webview.HelperActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.play.billingclient.version" android:value="5.2.1"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:exported="false" android:name="com.android.billingclient.api.ProxyBillingActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>
</manifest>
