<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="31" android:compileSdkVersionCodename="12" android:installLocation="auto" package="io.doublejack.maestro_tmc" platformBuildVersionCode="31" platformBuildVersionName="12">
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="http"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
    </queries>
    <uses-feature android:glEsVersion="0x00030001" android:required="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
    <supports-gl-texture android:name="GL_KHR_texture_compression_astc_ldr"/>
    <uses-feature android:name="oculus.software.handtracking" android:required="false" android:version="1"/>
    <uses-permission android:name="oculus.permission.handtracking"/>
    <uses-feature android:name="android.hardware.vr.headtracking" android:required="true" android:version="1"/>
    <uses-permission android:name="com.oculus.permission.HAND_TRACKING"/>
    <uses-feature android:name="android.hardware.usb.host"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="true" android:hardwareAccelerated="true" android:hasCode="true" android:icon="@drawable/icon" android:label="@string/app_name" android:name="com.epicgames.ue4.GameApplication">
        <activity android:configChanges="mcc|mnc|keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|density" android:debuggable="false" android:excludeFromRecents="true" android:exported="true" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.epicgames.ue4.GameActivity" android:resizeableActivity="false" android:screenOrientation="landscape" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <meta-data android:name="android.app.lib_name" android:value="UE4"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.INFO"/>
                <category android:name="com.oculus.intent.category.VR"/>
            </intent-filter>
            <meta-data android:name="com.oculus.vr.focusaware" android:value="true"/>
        </activity>
        <activity android:name="io.doublejack.maestro_tmc.DownloaderActivity"/>
        <meta-data android:name="com.epicgames.ue4.GameActivity.EngineVersion" android:value="4.27.2"/>
        <meta-data android:name="com.epicgames.ue4.GameActivity.EngineBranch" android:value="++UE4+Release-4.27"/>
        <meta-data android:name="com.epicgames.ue4.GameActivity.ProjectVersion" android:value="0.0.215"/>
        <meta-data android:name="com.epicgames.ue4.GameActivity.DepthBufferPreference" android:value="0"/>
        <meta-data android:name="com.epicgames.ue4.GameActivity.bPackageDataInsideApk" android:value="true"/>
        <meta-data android:name="com.epicgames.ue4.GameActivity.bVerifyOBBOnStartUp" android:value="true"/>
        <meta-data android:name="com.epicgames.ue4.GameActivity.bShouldHideUI" android:value="true"/>
        <meta-data android:name="com.epicgames.ue4.GameActivity.ProjectName" android:value="Maestro"/>
        <meta-data android:name="com.epicgames.ue4.GameActivity.AppType" android:value=""/>
        <meta-data android:name="com.epicgames.ue4.GameActivity.bHasOBBFiles" android:value="true"/>
        <meta-data android:name="com.epicgames.ue4.GameActivity.BuildConfiguration" android:value="Shipping"/>
        <meta-data android:name="com.epicgames.ue4.GameActivity.CookedFlavors" android:value="ASTC"/>
        <meta-data android:name="com.epicgames.ue4.GameActivity.bValidateTextureFormats" android:value="true"/>
        <meta-data android:name="com.epicgames.ue4.GameActivity.bUseExternalFilesDir" android:value="true"/>
        <meta-data android:name="com.epicgames.ue4.GameActivity.bPublicLogFiles" android:value="true"/>
        <meta-data android:name="com.epicgames.ue4.GameActivity.bUseDisplayCutout" android:value="false"/>
        <meta-data android:name="com.epicgames.ue4.GameActivity.bAllowIMU" android:value="true"/>
        <meta-data android:name="com.epicgames.ue4.GameActivity.bSupportsVulkan" android:value="false"/>
        <meta-data android:name="com.epicgames.ue4.GameActivity.StartupPermissions" android:value=""/>
        <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/app_id"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:name="com.google.android.gms.ads.AdActivity"/>
        <service android:name="io.doublejack.maestro_tmc.OBBDownloaderService"/>
        <receiver android:name="io.doublejack.maestro_tmc.AlarmReceiver"/>
        <receiver android:name="com.epicgames.ue4.LocalNotificationReceiver"/>
        <receiver android:exported="true" android:name="com.epicgames.ue4.MulticastBroadcastReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="android.max_aspect" android:value="2.1"/>
        <meta-data android:name="com.oculus.supportedDevices" android:value="quest2|cambria|eureka"/>
        <meta-data android:name="com.oculus.handtracking.frequency" android:value="HIGH"/>
        <meta-data android:name="com.oculus.handtracking.version" android:value="V2.0"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="io.doublejack.maestro_tmc.lifecycle-process" android:exported="false" android:multiprocess="true" android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"/>
    </application>
</manifest>
