<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="32" android:compileSdkVersionCodename="12" android:installLocation="auto" package="com.mixrift.hellhorde" platformBuildVersionCode="32" platformBuildVersionName="12">
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true" android:xlargeScreens="true"/>
    <uses-permission android:name="com.oculus.permission.USE_ANCHOR_API"/>
    <uses-permission android:name="com.oculus.permission.IMPORT_EXPORT_IOT_MAP_DATA" android:required="false"/>
    <uses-permission android:name="com.oculus.permission.USE_SCENE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.vr.headtracking" android:required="true" android:version="1"/>
    <uses-feature android:name="com.oculus.feature.BOUNDARYLESS_APP" android:required="true"/>
    <uses-feature android:name="com.oculus.feature.PASSTHROUGH" android:required="true"/>
    <uses-feature android:name="android.hardware.vulkan.version" android:required="true"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="true" android:icon="@mipmap/app_icon" android:label="@string/app_name" android:networkSecurityConfig="@xml/network_sec_config">
        <meta-data android:name="unityplayer.SkipPermissionsDialog" android:value="false"/>
        <meta-data android:name="com.samsung.android.vr.application.mode" android:value="vr_only"/>
        <meta-data android:name="com.oculus.supportedDevices" android:value="quest2|questpro|quest3|quest3s"/>
        <meta-data android:name="com.oculus.ossplash" android:value="true"/>
        <meta-data android:name="com.oculus.ossplash.type" android:value="mono"/>
        <meta-data android:name="com.oculus.ossplash.colorspace" android:value="P3"/>
        <meta-data android:name="com.oculus.ossplash.background" android:value="passthrough-contextual"/>
        <meta-data android:name="unity.splash-mode" android:value="0"/>
        <meta-data android:name="unity.splash-enable" android:value="true"/>
        <meta-data android:name="unity.launch-fullscreen" android:value="true"/>
        <meta-data android:name="unity.render-outside-safearea" android:value="true"/>
        <meta-data android:name="notch.config" android:value="portrait|landscape"/>
        <meta-data android:name="unity.auto-report-fully-drawn" android:value="true"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|density" android:excludeFromRecents="true" android:exported="true" android:hardwareAccelerated="false" android:launchMode="singleTask" android:name="com.unity3d.player.UnityPlayerActivity" android:resizeableActivity="false" android:screenOrientation="landscape" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="com.oculus.intent.category.VR"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <meta-data android:name="com.oculus.vr.focusaware" android:value="true"/>
            <meta-data android:name="notch_support" android:value="true"/>
        </activity>
        <meta-data android:name="io.sentry.sdk.name" android:value="sentry.java.android.unity"/>
        <meta-data android:name="io.sentry.dsn" android:value="https://e9770c1220a693773fa503ed4d31fdda@o4508405441232896.ingest.us.sentry.io/4508405442150401"/>
        <meta-data android:name="io.sentry.release" android:value="Hell Horde@1.4.581"/>
        <meta-data android:name="io.sentry.environment" android:value="production"/>
        <meta-data android:name="io.sentry.debug.level" android:value="warning"/>
        <meta-data android:name="io.sentry.attach-screenshot" android:value="false"/>
        <meta-data android:name="io.sentry.ndk.enable" android:value="false"/>
        <meta-data android:name="io.sentry.ndk.scope-sync.enable" android:value="false"/>
        <meta-data android:name="io.sentry.auto-session-tracking.enable" android:value="false"/>
        <meta-data android:name="io.sentry.breadcrumbs.app-lifecycle" android:value="false"/>
        <meta-data android:name="io.sentry.anr.enable" android:value="false"/>
        <meta-data android:name="io.sentry.enable-scope-persistence" android:value="false"/>
        <meta-data android:name="com.unity.xr.oculus.LowOverheadMode" android:value="false"/>
        <meta-data android:name="com.unity.xr.oculus.LateLatching" android:value="false"/>
        <meta-data android:name="com.unity.xr.oculus.LateLatchingDebug" android:value="false"/>
        <meta-data android:name="com.oculus.telemetry.project_guid" android:value="c4e2f137-22af-405b-9fa0-ebb4487c4472"/>
        <meta-data android:name="aia-compat-api-min-version" android:value="1"/>
        <service android:name="com.gameanalytics.sdk.errorreporter.GameAnalyticsExceptionReportService" android:permission="android.permission.BIND_JOB_SERVICE" android:process=":gameAnalyticsExceptionReporter"/>
        <provider android:authorities="com.mixrift.hellhorde.SentryInitProvider" android:exported="false" android:name="io.sentry.android.core.SentryInitProvider"/>
        <provider android:authorities="com.mixrift.hellhorde.SentryPerformanceProvider" android:exported="false" android:initOrder="200" android:name="io.sentry.android.core.SentryPerformanceProvider"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
    </application>
</manifest>
